<ion-header>
  <ion-toolbar>
    <ion-title>Leave Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <table>
    <thead>
      <tr>
        <th>Type of Leave</th>
        <th>Leave Balance</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let leaveBalance of leaveBalances">
            <td>{{leaveBalance.LeaveName}}</td>
            <td>{{leaveBalance.Balance}}</td>
        </tr> -->
    </tbody>
  </table>
  <app-resourcesdropdown></app-resourcesdropdown>
</ion-content>