<ion-header>
  <ion-toolbar color="success">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="form" [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="text" formControlName="UserName" [(ngModel)]="userLogin.UserName" ></ion-input>
    </ion-item>
<span class="error ion-padding" *ngIf="isSubmitted && f.UserName.errors?.required">
    Name is required.
  </span>

    <ion-item>
      <ion-label position="floating" color="primary" >Password</ion-label>
      <ion-input type="password" formControlName="Password" [(ngModel)]="userLogin.Password" required></ion-input>
    </ion-item>

    <span class="error ion-padding" *ngIf="isSubmitted && f.Password.errors?.required">
      Password is required.
    </span>

    <ion-button type="submit" expand="block" >Signin</ion-button>
    <span *ngIf="errormsg!=''" class="">
      {{errormsg}}
    </span> 
    <label class="ion-text-center" color="danger">{{errorMsg}}</label>
  </form>

</ion-content>
